@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');

    :root{
        --fw-light: 300;
        --fw-regular: 400;
        --fw-black: 900;
        --ff-heading: 'Poiret One', "cursive";
        --ff-text: 'Montserrat', sans-serif;
        --primary: #fff;
        --backround: #02021a;
        --accent: #AD9D71;
    }

    /* resets */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul{
      list-style: none;
    }
    
    a{
      text-decoration: none;
    }

    /* utility */

    .hide{
      display: none;
    }


    .noscroll{
      overflow: hidden;
    }
    /* header */

    .header{
      display: flex;
      background-color: var(--backround);
      align-items: center;
      justify-content: center;
      font-family: var(--ff-text);

    }

    .header ul{
      display: flex;
      padding: 1.2rem;

    }

    .nav_link{
      color: var(--primary);
      margin: 0.5rem;
      font-size: 1.5em;
      display: block;
    }

    .nav_link{
      margin: 0 1.5rem
    }

    .nav_link:hover{
      transform: translateY(1px);
      color: var(--accent);
      transition: 300ms;
    }

    @media screen and (max-width: 655px){
      .header{
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        opacity: 0.9;
        transition: 300ms ease-in ;
        transform: translateX(600px);
      }

      .showNav{
        transform: translateX(0px);
      }
  

      .header ul{
        flex-direction: column;
      }

      .nav_link{
        padding: 3rem 0rem;
        font-size: 2em;
        text-align: center;
      }


    }

    /* icons */

    .hidden{
  display: none;
    }



    @media screen and (max-width: 655px){
      .hamburger{
        display: block;
        position: absolute;
        color: var(--primary);
        right: 15px;
        top: 15px;
        z-index: 999;
      }
    }

  /* home body */

  .intro{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/wedding9.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }


  .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary);
  }

  .text_container::before{
    content: "";
    width: 450px;
    height: 2px;
    background-color: var(--accent);
    position: absolute;
    right:50%;
    transform: translateX(50%);
    margin-bottom: 1rem;
  }

  .text_container::after{
    content: "";
    width: 450px;
    height: 2px;
    background-color: var(--accent);
    position: absolute;
    right:50%;
    transform: translateX(50%);
    margin: 1rem 0;
  }

  

  .title{
    font-family: var(--ff-heading);
    font-size: 7em;
  }

  .sub_title{
    font-family: var(--ff-text);
    font-size: 2em;
  }

  .intro_text_container{
    margin-top: 2em;
  }

  .intro_text{
    font-size: 1.2em;
    font-family: var(--ff-text);
    font-weight: var(--fw-light);
  }

  @media screen and (max-width: 655px){
    .intro{
      height: 100vh;
    }
    .text_container::before{
      content: "";
      width: 250px;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      right:50%;
      transform: translateX(50%);
      margin-bottom: 1rem;
    }
  
    .text_container::after{
      content: "";
      width: 250px;
      height: 2px;
      background-color: var(--accent);
      position: absolute;
      right:50%;
      transform: translateX(50%);
      margin: 1rem 0;
    }
  
  }
