
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;900&display=swap');

  :root{
    --ff-heading: 'Merriweather', serif;
    --ff-body: 'Roboto', sans-serif;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 900;

    --fs-large: 3.5em;
    --fs-med: 1.4em;
    --fs-reg: 1em;
    --fs-small: 0.8em;

    --txt-color: #080d16;
    --bg-color: #ffffff;
    --accent-color: #ab2b36;
  }

  /* resets */

  *, ::after, ::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

  body{
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: var(--ff-body);
    line-height: 1.2;
  }

  img{
    display: block;
    max-width: 100%;
  }

  li{
    list-style: none;
  }

  a{
    display: block;
    text-decoration: none;
    color: var(--txt-color);
    transition: 300ms;
  }

  /* utility */

  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gutter{
    margin: 0 10%;
  }
  /* main styles */

  .header{
    justify-content: space-between;
    padding: 10px 0;
  }

  .logo{
    font-family: var(--ff-heading);
    font-size: var(--fs-med);
    text-align: center;
  }

  .small{
    font-size: var(--fs-small);
    color: var(--accent-color)
  }


  .navbar{
    padding-bottom: 0.5em;
    font-size: var(--fs-med);
    z-index: 888;
  }

  .nav_link, .social_link{
    display: block;
    padding: 0 1em;
  }

  .nav_link:hover{
    scale: 1.1;
    color: var(--accent-color)
  }

  /* hamburger */

  .hamburger{
    display: none;
    cursor: pointer;
    z-index: 999;
  }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--txt-color);
  }

  .home{
    background: linear-gradient(0deg, rgba(5, 5, 5, 0.3), rgba(24, 24, 24, 0.3)), url("/images/landscape1.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    top: 0;
    z-index: -10;
    position: relative;
  }

  .intro{
    text-align: center;
    position: relative;
    color: var(--bg-color);
  }



  .intro h1{
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
  }

  .intro p{
    font-size: var(--fs-med);
    font-weight: var(--fw-light);
  }

  .arrow{
    position: absolute;
    bottom: 245px;
    cursor: pointer;
  }


  

  @media screen and (max-width: 990px){
    .navbar{
      position: fixed;
      top: 0;
      right: -100%;
      flex-direction: column;
      border-bottom: 0;
      background-color: var(--accent-color);
      height: 100vh;
      width: clamp(200px, 60%, 400px);
      transition: 300ms ease-in-out;
    }


    .navbar.active{
      right: 0;
    }


    .header{
      flex-direction: column;
    }

    .nav_link{
      padding: 25px 0;
    }

    .social_link{
      margin-top: 15px;
    }

    .hamburger{
      display: block;
      position: absolute;
      top: 30px;
      right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
      transform:translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
      transform:translateY(-8px) rotate(-45deg);
    }
  }

  @media screen and (max-width:500px){
    .intro h1{
     scale: 0.7;
    }
  
    .intro p{
     scale: 0.7;
    }
  }