@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');

    :root{
        --fw-light: 300;
        --fw-regular: 400;
        --fw-black: 900;
        --ff-heading: 'Poiret One', "cursive";
        --ff-text: 'Montserrat', sans-serif;
        --light: #ffffff;
        --dark:  #000b18;
        --primary: #b0d9cf;
        --secondary: #cbdfe6;
        --accent: #4b879b;
    }

/* reset */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**************** overall styles ************************/
body{
  font-family: var(--ff-text);
  background-color: var(--dark);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


/* remove the default styling on lists */
li{
  list-style: none;
  position: relative;
}

/* this makes images easier to work with */
img{
  display: block;
  max-width: 100%;
}

a{
  display: block;
  text-decoration: none;
  transition: 300ms ease-in-out;
  color: var(--light);
  position: relative;
}

p{
  display: block;
  line-height: 1.3;
  margin-bottom: 0.7rem;
}

/****************** psudeo classes **********************/

.active::before{
  content: "";
  background-color: var(--accent);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  left: -15px;
  top: 49px;
}


.about_title::after, .services .title::after, .card_title::after, .contact_title::after{
  color: var(--light);
  font-family: var(--ff-heading);
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--accent);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.services .title::after, .contact_title::after{
  width: 100%;
}

.card_title::after{
  width: 100%;
}


/******************* utility ********************/

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin_left{
  margin-left: 300px;
}

/* hover effects */

.nav_link a:hover, .gallery_link a:hover, .show_all:hover, .social_links a:hover, input[type="submit"]:hover{
  color: var(--accent);
  transform: translateY(1px);
}

input[type="submit"]:hover{
  color: var(--dark);
}

.card_btn:hover{
  background-color: var(--dark);
}

/* main styles  */



.logo{
  text-align: center;
  z-index: 1000;
  font-family: var(--ff-heading);
  padding-top: 15px;
}

span{
  color: var(--accent);
}

.sidebar{
  position: fixed;
  min-height: 100dvh;
  min-height: 100vh;
  min-width: 300px;
  background-color: var(--dark);
  color: var(--light);
  flex-direction: column;
  justify-content: space-between;
}

.navbar{
  flex-direction: column;
}

.nav_link{
  padding: 2em 0;
  font-size: 1.3em;
}

.social_links{
  padding-bottom: 15px;
}

.social_links a{
  display: block;
  padding: 0 5px;
}


.header{
  width: 100%;
  position: absolute;
  min-height: 80px;
  justify-content: flex-end;
}

.gallery_link{
  margin: 0 2em;
  font-weight: var(--fw-black);
}


header ul{
  margin: 0 7em;
  position: relative;
}

.show_all{
  position: absolute;
  left: 400px;
  outline: none;
  border: none;
  background: none;
  color: var(--light);
  cursor: pointer;
  font-family: var(--ff-heading);
  font-weight: var(--fw-black);
  transition: 300ms ease-in;
}


.gallery_container{
  max-width: calc(100vw - 300px);
  padding-top: 80px;
  background-color: var(--dark);
  min-height: 100vh;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;

  /* images on home screen fade in from bottom  animation timeline and animation range ARE EXERIMENTAL ATTRIBUTE, not supported on safari, samsung int, operam firefox at the moment*/
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 5% cover 30% ;
}

/************************************ hamburger ***************************************************/
.burger{
  position: absolute;
  right: 30px;
  top: 25px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.burger_container{
  display: none;
}



.about{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100dvh;
  min-height: 100dvh;
  padding: 55px;
}

.left{
  max-width: 600px;
  border: 5px solid var(--accent);
}

/* make some images un-clickable */
.pro_img, .card_img{
  pointer-events: none;
}

.right{
  color: var(--light);
  max-width: 500px;
}

.about_title, .services .title{
  position: relative;
  font-size: 2em;
  font-weight: var(--fw-black);
  font-family: var(--ff-heading);
  max-width: 400px;
}


.about_subtitle, .services .subtitle{
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: var(--fw-regular);
}

.right p{
  font-size: 1.2em;
}


.services .title{
  margin: 0 auto;
  padding: 15px;
  display: block;
  position: relative;
  text-align: center;
  color: var(--light);
  font-family: var(--ff-heading);
}

.services .subtitle{
  color: var(--light);
  font-size: 1.2em;
  font-weight: var(--fw-regular);
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

.card_container{
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: calc(100vh - 310px);
  min-width: 100%;
}

.card{
  height: 450px;
  width: 350px;
  position: relative;
  border-radius: 5px;
  outline: 1px solid var(--accent);
}

.card_title{
  color: var(--light);
  position: relative;
  text-align: center;
  padding: 15px;
}

.card_body{
  color: var(--light);
  font-size: 0.8em;
  margin-top: 25px;
  padding: 15px;
  text-align: center;
}

.card_btn{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 15px;
  font-size: 1em;
  background-color: transparent;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  color: var(--light);
  border: none;
  background-color: var(--accent);
  transition: 300ms ease-in;
}


.card_img{
  width: 100%;
  border-radius: 5px;
}

.form_container{
  margin-left: 300px;
  color: var(--light);
  display: flex;
  justify-content: center;
  padding: 10em 0;
}


fieldset{
  padding: 20px;
  font-family: var(--ff-heading);
  border-color:var(--accent);
  font-size: 1.3em;
}

input[type="text"], input[type="email"], textarea{
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
}

input[type="submit"]{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--accent);
  color: var(--light);
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.contact_title{
    margin: auto;
    padding: 15px 0;
    position: relative;
    text-align: center;
    color: var(--light);
    font-family: var(--ff-heading);
    font-size: 2em;
    width: 300px;
}

  .form_container{
  margin: auto;
}

  form{
  min-width: 800px;
}

  input, label{
  font-size: 1.2em;
  display: block;
  margin-bottom: 10px;
}

  .map_container{
  width: calc(100vw - 320px);
}

  iframe{
  width: 100%;
}



/************************************* media queries **************************************************/
@media screen and (max-width: 1250px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .about{
    text-align: center;
  }

  .about_title::after{
    width: 100%;
  }
  
  .card{
    margin: 45px 0;
  }

  form{
    width: unset
  }
  

}

@media screen and (max-width: 900px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .header{
    justify-content: flex-end;
  }

  .show_all{
    position: unset;
  }

  .burger_container{
    display: block;
  }
  

  .sidebar{
    background-color: var(--dark);
    z-index: 999;
    right: 0;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
    border: none;
  }

  .move_in{
    transform: translateX(0);
  }

  .gallery_container{
    max-width: 100vw;
    margin: auto;
    padding-top: 100px;
    background-color: var(--dark);
    min-height: 100vh;
  }

  .show_all{
    position: absolute;
    left: 100px;
  }

  
  .about, .services{
    margin-left: 0px;

}
}

@media  screen and (max-width: 600px) {
  .services .title{
    margin: 15px auto;
    position: absolute;
    left: 10px;
  }

  .services .subtitle{
    display: none;
}

.card:first-child{
  margin-top: 100px;
}

}

@media screen and (max-width: 500px){
    .show_all{
      left: 10px;
    }

    .filter_container{
      flex-direction: column;
      margin: 10px auto;
    }

    .gallery_link{
      margin: 5px; 
      font-weight: var(--fw-light);
      font-size: 1em;   
    }
    
  }

  /************************************** animations ***********************************************************/

/* images to fade in */
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}